@model Cartridge.Models.OperationType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OperationType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillDefCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillDefCheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetPunkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetPunkt.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetStan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetStan.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
