@model Cartridge.Models.OperationType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OperationType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillDefCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillDefCheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetPunkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetPunkt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetStan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetStan.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
