@model IEnumerable<Cartridge.Models.OperationType>

@{
    ViewData["Title"] = "Index";
}

<h1>Список типів операцій</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Добавити новий тип</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Тип операції
            </th>
            <th>
                Де знаходиться
            </th>
            <th>
                Стан
            </th>
            <th>
                Заправлений
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.GetPunkt != null ? item.GetPunkt.Name : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetStan.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FillDefCheck)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-outline-info">Змінити</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Детально</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-outline-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
