<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartridge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .shadowbox {
            width: 100%;
            border: 1px solid #333;
            box-shadow: 8px 8px 5px #444;
            padding: 8px 12px;
            background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-center">
            <div class="shadowbox">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h2>Облік картриджів в організації</h2>
                </a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="btn waves-effect waves-light hor-grd btn-grd-inverse border-light"
                                    onclick="location.href = '@Url.Action("Index", "Home")'">
                                <b>Головна</b>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn waves-effect waves-light hor-grd btn-grd-inverse border-light"
                                    onclick="location.href = '@Url.Action("Dovidnyk", "Home")'">
                                <b>Довідники</b>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn waves-effect waves-light hor-grd btn-grd-inverse border-light"
                                    onclick="location.href = '@Url.Action("Zvity", "Home")'">
                                <b>Звітність</b>
                            </button>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Кудрик В.П. 2021 - Облік картриджів на фірмі
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
