@{
    ViewData["Title"] = "Налаштування довідників";
}

<div class="container text-center col-4">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-success btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "ModelPrinters")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Моделі Принтерів
        </button>
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-primary btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "Punkts")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Підрозділи
        </button>
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-info btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "ModelCartridges")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Моделі Картриджів
        </button>
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-warning btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "OperationTypes")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Типи Операцій
        </button>
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-inverse btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "Stans")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Стани картриджів
        </button>
        <button type="button" class="btn waves-effect waves-light hor-grd btn-grd-danger btn-lg btn-block"
                onclick="location.href = '@Url.Action("Index", "Cartridges")'">
            <i class="fas fa-cogs pr-2" aria-hidden="true"></i>Картриджі
        </button>
    </div>
</div>