@model IEnumerable<OperationType>

@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="container text-center">
    <hr />
    <h2>Операції з картриджами</h2>
    <div class="btn-group">
        @foreach (OperationType ot in Model)
        {
            <button class="btn waves-effect waves-light hor-grd btn-grd-success border-light"
                    onclick="location.href = '@Url.Action("Reception", "Operation", new { id = ot.Id })'">
                <b>@ot.Name</b>
            </button>
        }
</div>
    @if (ViewContext.HttpContext.User.HasClaim("AdminStatus", "1"))
    {
        <hr />
        <h2>Налаштування довідників</h2>
        <div class="btn-group">
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "ModelPrinters")'">
                <b>Моделі Принтерів</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "Punkts")'">
                <b>Підрозділи</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "ModelCartridges")'">
                <b>Моделі Картриджів</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "OperationTypes")'">
                <b>Типи Операцій</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "Stans")'">
                <b>Стани картриджів</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "Cartridges")'">
                <b>Картриджі</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-info border-light"
                    onclick="location.href = '@Url.Action("Index", "User")'">
                <b>Користувачі</b>
            </button>
        </div>
    }
        <hr />
        <h2>Статистика</h2>
        <div class="btn-group">
            <button class="btn waves-effect waves-light hor-grd btn-grd-warning border-light"
                    onclick="location.href = '@Url.Action("Sklad_Refueled", "Zvity")'">
                <b>Заправлені на складі</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-warning border-light"
                    onclick="location.href = '@Url.Action("Sklad_Empty", "Zvity")'">
                <b>Пусті на складі</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-warning border-light"
                    onclick="location.href = '@Url.Action("Service", "Zvity")'">
                <b>Відправлені на сервіс</b>
            </button>
            <button class="btn waves-effect waves-light hor-grd btn-grd-warning border-light"
                    onclick="location.href = '@Url.Action("InWork", "Zvity")'">
                <b>В роботі</b>
            </button>
        </div>
    </div>
    

