@model Cartridge.Models.Punkt

@{
    ViewData["Title"] = "Детально про підрозділ";
}

<h1>Детально про @Html.DisplayFor(model => model.Name)</h1>
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Редагувати</a>
    <a asp-action="Index" class="btn btn-outline-info">Повернутися до списку</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Фото принтера
            </th>
            <th>
                Назва принтера (модель)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Printers)
        {
            <tr>
                <td>
                    <img src="@Url.Action("PrinterImage", "ModelPrinters", new { id = c.Id })" style="width:100px;" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => @c.Name)
                    </td>
            </tr>
        }
    </tbody>
</table>
