@model IEnumerable<Cartridge.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Список користувачів</h1>

<p>
    <a asp-action="Create" class="btn waves-effect waves-light hor-grd btn-grd-success">Добавити нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Логін</th>
            <th>Пароль</th>
            <th>ПІП</th>
            <th>Права адміністратора</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" 
                       class="btn waves-effect waves-light hor-grd btn-grd-primary ">Змінити</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id" 
                       class="btn waves-effect waves-light hor-grd btn-grd-danger ">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
